.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1180px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 42px 312px 0 438px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 41px auto 0 -194px;
  padding: 10px 31px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 17px auto 0 -194px;
  padding: 10px 0;
}

.u-section-1 .u-list-1 {
  margin-top: -108px;
  margin-bottom: 60px;
  grid-template-rows: auto auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-gap: 21px 21px;
  min-height: 955px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-line-1 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 45px auto 0 30px;
}

.u-section-1 .u-text-3 {
  width: 206px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 123px auto 0 96px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-line-2 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 45px auto 0 30px;
}

.u-section-1 .u-text-5 {
  width: 206px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 123px auto 0 96px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-line-3 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 45px auto 0 30px;
}

.u-section-1 .u-text-7 {
  width: 206px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 123px auto 0 96px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-line-4 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 45px auto 0 30px;
}

.u-section-1 .u-text-9 {
  width: 206px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 123px auto 0 96px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-line-5 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 45px auto 0 30px;
}

.u-section-1 .u-text-11 {
  width: 206px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 123px auto 0 96px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 0 auto 0 60px;
}

.u-section-1 .u-line-6 {
  height: 4px;
  transform-origin: left center 0px;
  margin: 45px auto 0 30px;
}

.u-section-1 .u-text-13 {
  width: 206px;
  margin: 40px auto 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 123px auto 0 96px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 212px;
    margin-left: 338px;
    width: 390px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14px));
    min-height: 787px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 177px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 102px;
    margin-left: 228px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 1356px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 12px;
    margin-left: 138px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-3 {
    margin-top: 310px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 40px;
  }
}