.u-section-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 15px auto 0 calc(((100% - 1140px) / 2) + 486px);
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 919px);
  min-height: 769px;
  margin: 21px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 27px 21px 0 26px;
}

.u-section-1 .u-shape-1 {
  height: 219px;
  background-image: none;
  margin-top: 262px;
  margin-bottom: 0;
}

.u-section-1 .u-form-1 {
  height: 181px;
  margin: -199px -186px -462px 26px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 218px;
  height: 218px;
  margin: -672px auto 0 calc(((100% - 1140px) / 2) + -53px);
}

.u-section-1 .u-text-3 {
  margin: 13px calc(((100% - 1140px) / 2) + 1041px) 60px calc(((100% - 1140px) / 2));
}

.mentee-name {
    font-weight: 700;
}

.mentee-cmt {
    font-weight: 400;
}

.time-cmt {
    font-size: 0.625rem;
}

.mess {
    font-weight: 700;
    color: red;
}

.no-cmt {
    font-size: 40px;
}

.mess-Blank{
    color:red;
}
@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 401px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 919px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + -53px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 940px) / 2) + 841px);
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 307px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + -53px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 621px);
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 230px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + -53px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 441px);
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 145px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 340px) / 2) + -53px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2) + 241px);
    margin-left: calc(((100% - 340px) / 2));
  }
}